.download{
	width:100%;
	height:1080px;
	background:url("../images/dw.jpg") no-repeat;
	overflow: hidden;
}
.margin{
    width:1300px;
    margin:0 auto;
}
#main ul{
	width:100%;
	height:400px;
	margin-top:120px
}
#main ul li{
	float:left;
	width:300px;
	margin-right:100px
}
#main ul li:nth-of-type(2){margin-right:0;}
#main li .title{
	width:300px;
	font-size:39px;
	color:#fff;
	line-height:99px
}
#main li .ewm{
	width:300px;
	height:300px;
	background:#fff
}
.content{
	color:#fff;
	font-size:20px;
	line-height:30px
}